.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  h2 {
    margin: 0;
  }
}

h1 {
  color: white;
  margin-bottom: 24px !important;
  margin-right: 0 !important;
  padding: 16px;
}


