.add-channel-btn {
  position: absolute;
  right: 16px;
  bottom: 32px;
  background-color: #bc110c;
}

/* .material-icons-outlined {
  position: absolute;
  right: 16px;
  top: 16px;
  color: white;
} */

.user-img {
  position: absolute;
  right: 16px;
  top: 0px;

  height: 80px;
  width: 80px;
  object-fit: cover;
  cursor: pointer;
}

.allChannels-container {
  color: white;
  margin-top: 32px;

  .channelData {
    cursor: pointer;
    width: auto;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    position: relative;
    padding: 8px;
    height: 3vh;
    &:hover {
      opacity: 0.4;
    }

    h3 {
      margin: 0;
      font-family: monospace;
      font-size: 1.5em;
      font-weight: bold;
      color: #bc110c;
    }
  }
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 32px;
  font-size: 1.5rem;
  font-family: "Irish Grover", cursive !important;
}

.main-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 32px;
}

.groups {
  display: flex;
  align-items: center;
  color: #5d9d03;
  position: absolute;
  right: 16px;

  p {
    margin: 0;
    margin-left: 8px;
  }
}

.gift-icon {
  height: 64px;
  width: 64px;
  object-fit: cover;
}

mat-icon {
  z-index: 2;
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}

.allChannels-main-container {
  width: 64vw;
  height: 72vh;
  overflow-y: auto;
}
