.add-channel-btn {
  position: absolute;
  right: 16px;
  bottom: 32px;
}

.material-icons-outlined {
  position: absolute;
  right: 16px;
  top: 16px;
  color: white;
}

.allChannels-container {
  color: white;
  margin-top: 32px;

  .channelData {
    width: 80vw;
    background: #a4251a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    position: relative;

    h3 {
      margin: 0;
    }
  }
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 32px;
  background: #5a9122;
  width: 100vw;
  font-family: "Irish Grover", cursive !important;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.groups {
  display: flex;
  align-items: center;
  color: #5d9d03;
  position: absolute;
  right: 16px;

  p {
    margin: 0;
    margin-left: 8px;
  }
}

.gift-icon {
  color: #f10303;   
  position: absolute;
  left: 16px;

}

mat-icon {
  z-index: 2;
}