<div
  class="main-container"
  *ngIf="userService.loadCurrentUser && !checkRoute()"
>
  <button
    class="add-channel-btn"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    (click)="openDialogCreateChannel()"
  >
    <mat-icon>add</mat-icon>
  </button>

  <h2>Familys</h2>
  <div *ngIf="channelService.allChannels?.length > 0">
    <div
      class="allChannels-container"
      *ngFor="let channel of channelService.allChannels"
    >
      <div (click)="openDialogChannelLogin(channel)" class="channelData">
        <mat-icon class="gift-icon">card_giftcard</mat-icon>

        <h3>{{ channel.name }}</h3>
        <div class="groups">
          <mat-icon>groups</mat-icon>
          <p>{{ channel.joinedUser.length }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-icon *ngIf="!checkRoute()" (click)="authService.signOut()" class="material-icons-outlined">
  power_settings_new
</mat-icon>

<mat-icon *ngIf="checkRoute()" (click)="goBack()" class="material-icons-outlined">
  undo
</mat-icon>


<router-outlet *ngIf="checkRoute() &&  userService.loadAllUser"></router-outlet>
