header {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 0px 16px;

  mat-icon {
    color: black;
    cursor: pointer;
    font-size: 2em;
  }

  b {
    color: #82a1a3;
  }
}

.logo {
  height: 8vh;
  object-fit: cover;

  @media only screen and (max-width: 360px) {
    height: 6vh;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding: 16px;

  a {
    margin-right: 16px;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

h1 {
  display: block !important;
  margin-top: 32px !important;
  font-size: 2.5em !important;
}

:host ::ng-deep .mat-drawer-content {
  overflow: hidden !important;

}

:host ::ng-deep .mat-drawer-container {
/*   position: unset !important; */

  background-color: transparent !important;
  z-index: 999999 !important;
}

:host ::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
  background: #82a1a3;
}

:host ::ng-deep .drawer-container {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
}

.logout-btn {
  background: #f5b58a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  color: white;
  border: 0;
  border-radius: 0px 16px 16px 0px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  h3 {
    margin: 0;
  }

  mat-icon {
    margin-right: 16px;
  }

  b {
    color: #000000;
  }
}

mat-drawer {
  img {
    height: 128px;
    width: 100%;
    margin-top: 32px;
    object-fit: cover;
  }
}
