<header>
  <mat-icon
    *ngIf="checkRoute()"
    (click)="goBack()"
    class="material-icons-outlined"
  >
    navigate_before
  </mat-icon>

  <img *ngIf="!checkRoute()" class="logo" src="assets/wichtel-app-logo.png" />

  <h1 class="channel-name" *ngIf="checkRoute()">
    <b> Family: </b>
    {{ channelService.channel?.name }}
  </h1>

  <mat-drawer-container
    [ngStyle]="{ position: drawer.opened ? 'unset' : 'relative' }"
    class="example-container"
    autosize
  >
    <mat-drawer
      class="example-sidenav"
      #drawer
      mode="over"
      opened="false"
      position="end"
    >
      <app-menu-bar *ngIf="userService.user"></app-menu-bar>

      <button
        (click)="authService.signOut(); drawer.toggle()"
        class="logout-btn"
      >
        <mat-icon> logout </mat-icon>
        <b>Logout</b>
      </button>
    </mat-drawer>

    <mat-icon
      (click)="drawer.toggle()"
      *ngIf="userService.user && checkRouteChannel()"
      class="material-icons-outlined"
    >
      menu
    </mat-icon>
  </mat-drawer-container>
</header>
<router-outlet></router-outlet>

<footer *ngIf="!checkRouteChannel()">
  <a (click)="openDialogLegalNotice()">Legal Notice</a>
  <a (click)="openDialogDataProtection()">Data Protection</a>
</footer>
