<header>
  <mat-icon
    *ngIf="checkRoute()"
    (click)="goBack()"
    class="material-icons-outlined"
  >
    navigate_before
  </mat-icon>

  <img *ngIf="!checkRoute()" class="logo" src="assets/wichtel-app-logo.png" />

  <h1 *ngIf="checkRoute()">
    <b> Family: </b>
    {{ channelService.channel?.name }}
  </h1>

  <mat-icon
    *ngIf="userService.user"
    [matMenuTriggerFor]="menu"
    class="material-icons-outlined"
  >
    menu
  </mat-icon>

  <mat-menu #menu="matMenu">
    <app-menu-bar *ngIf="userService.user"></app-menu-bar>
  </mat-menu>
</header>
<router-outlet></router-outlet>
