<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="sign-contanier">
    <mat-progress-bar
      *ngIf="authService.loadBar"
      mode="indeterminate"
    ></mat-progress-bar>

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>

      <form
        (submit)="
          authService.signUpUser(email.value, password.value, name.value)
        "
        class="example-form"
      >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input
              required
              #name
              matInput
              placeholder="Name"
              [formControl]="authService.userName"
            />
            <mat-error *ngIf="authService.userName.invalid">{{
              authService.getErrorMessageName()
            }}</mat-error>

          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              #email
              matInput
              placeholder="Email"
              [formControl]="authService.email"
              required
            />
            <mat-error *ngIf="authService.email.invalid">{{
              authService.getErrorMessageEmail()
            }}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              type="password"
              #password
              matInput
              placeholder="Password"
              [formControl]="authService.password"
              required
            />
            <mat-error *ngIf="authService.password.invalid">{{
              authService.getErrorMessagePassword()
            }}</mat-error>
          </mat-form-field>
        </mat-card-content>
        <a>
          <button mat-stroked-button color="accent" class="btn-block">
            Sign Up
          </button>
        </a>
      </form>

      <p class="outside-message">
        Already Registered?
        <a routerLink="/sign-in" routerLinkActive="router-link-active"
          >Sign-In</a
        >
      </p>
    </mat-card>
  </div>
</div>
