<div *ngIf="channelService.loadChannel">
  

  <div class="nav-bar">
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">groups</mat-icon>
        </ng-template>
        <h2>All Users</h2>
        <div class="group-container">

         

          <div
            *ngFor="let user of channelService.channel.joinedUser"
            class="user-container"
            [ngStyle]="{
              'background-color':
                user.userID == channelService.channel.admin
                  ? 'rgb(245 181 138)'
                  : 'white'
            }"
            (click)="openDialogUserData(user)"
          >
            <mat-icon class="example-tab-icon icon-person">person</mat-icon>
            <h3>
              {{ giftService.returnUserData(user.userID).displayName }}
            </h3>
            <mat-icon *ngIf="user.ready" class="example-tab-icon icon-ready"
              >done</mat-icon
            >
            <mat-icon *ngIf="!user.ready" class="example-tab-icon icon-ready"
              >X</mat-icon
            >
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">account_circle</mat-icon>
        </ng-template>

        <button class="createWish-btn" mat-fab color="accent">
          <mat-icon (click)="openDialogCreateWish()" class="example-tab-icon"
            >post_add</mat-icon
          >
        </button>

        <div class="userTitle">
          <mat-icon class="example-tab-icon icon-person">person</mat-icon>
          <h3>
            {{ userService.user.displayName }}
          </h3>
        </div>

        <div class="group-container profile-section">
          <img
            class="wishList-img"
            *ngIf="filterWishUser().wish.length <= 0"
            src="assets/wish-list.png"
          />

          <div
            *ngFor="let wish of filterWishUser().wish; let i = index"
            class="wish-container"
          >
            <img src="assets/gift-icon.png" />
            <h4>{{ wish }}</h4>

            <mat-icon
              (click)="deleteWish(i)"
              class="example-tab-icon trash-icon"
              >delete</mat-icon
            >
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/gift-icon.png" />
        </ng-template>

        <!--    gift -->
        <div
          *ngIf="!filterWishUser().draggedUser"
          class="group-container gift-container"
        >
          <img
            *ngIf="!giftService.loadGift"
            (click)="openGift()"
            src="assets/gift-icon.png"
          />
          <mat-spinner [color]="'warn'" *ngIf="giftService.loadGift"></mat-spinner>
          <mat-slide-toggle
          *ngIf="channelService.channel.joinedUser"
            [checked]="filterUserInChannel()?.ready"
            (change)="checkToggle($event)"
            >Ready ?
          </mat-slide-toggle>

          <button
          *ngIf="userService.user.uid == channelService.channel.admin"
            class="btn-start"
            mat-raised-button
            color="warn"
            (click)="openDialogToStart()"
          >
            Start
          </button>
        </div>

        <!--   getUserGift -->

        <div *ngIf="filterWishUser().draggedUser" class="group-container">
          <div class="userTitle">
            <mat-icon class="example-tab-icon icon-person">person</mat-icon>
            <h3>
              {{ giftService.filterOhterUserData().displayName }}
            </h3>
          </div>

          <div class="group-container profile-section">
            <img
              class="wishList-img"
              *ngIf="
              giftService.filterOtherUserWishes(giftService.filterOhterUserData()).wish.length <= 0
              "
              src="assets/wish-list.png"
            />

            <div
              *ngFor="
                let wish of giftService.filterOtherUserWishes(giftService.filterOhterUserData()).wish;
                let i = index
              "
              class="wish-container"
            >
              <img src="assets/gift-icon.png" />
              <h4>{{ wish }}</h4>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
