<div *ngIf="channelService.loadChannel">
  <div>
    <h2>{{ channelService.channel.name }}</h2>
  </div>

  <div class="nav-bar">
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">groups</mat-icon>
        </ng-template>
        <div class="group-container">
          <div
            *ngFor="let user of channelService.channel.joinedUser"
            class="user-container"
          >
            <mat-icon class="example-tab-icon icon-person">person</mat-icon>
            <h3>{{ returnUserData(user.userID).displayName }}</h3>
            <mat-icon *ngIf="user.ready" class="example-tab-icon icon-ready"
              >thumb_up</mat-icon
            >
            <mat-icon *ngIf="!user.ready" class="example-tab-icon icon-ready"
              >thumb_down</mat-icon
            >
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/gift-icon.png" />
        </ng-template>
        <div class="group-container gift-container">
          <img (click)="getUserGift()" src="assets/gift-icon.png" />
          <mat-slide-toggle
            [checked]="filterUserInChannel().ready"
            (change)="checkToggle($event)"
            >Ready ?
          </mat-slide-toggle>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">account_circle</mat-icon>
        </ng-template>
        <h3 class="userName">
          {{ userService.user.displayName }}
        </h3>
        <div class="group-container profile-section">
       

          <img
            class="wishList-img"
            *ngIf="filterWishUser().wish.length <= 0"
            src="assets/wish-list.png"
          />

          <div
            *ngFor="let wish of filterWishUser().wish; let i = index"
            class="wish-container"
          >
            <h4>{{ wish }}</h4>

            <img src="assets/gift-icon.png" />
            <mat-icon (click)="deleteWish(i)" class="example-tab-icon"
              >delete</mat-icon
            >
          </div>

          <button mat-fab color="accent">
            <mat-icon (click)="openDialogCreateWish()" class="example-tab-icon"
              >post_add</mat-icon
            >
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
