.nav-bar {
  position: absolute;
  bottom: 16px;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;

  mat-tab-group {
    flex-direction: column-reverse !important;
    width: 100 vw;
    align-items: center;

    mat-icon {
      font-size: 32px;
      color: white;
    }

    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
    }
  }
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 32px;
  background: #c6875e;
  width: 100vw;
  font-family: "Irish Grover", cursive !important;
}

.group-container {
  width: 80vw;
  height: 60vh;
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
}

.user-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  background: #e36840;
  border-radius: 8px;
  position: relative;

  mat-icon {
    font-size: 24px !important;
    color: white;
  }

  h3 {
    margin: 0;
  }
}

.gift-container {
  img {
    margin-top: 32px;
    height: 180px !important;
    width: 180px !important;
    object-fit: cover;
  }
}

mat-slide-toggle {
  margin-top: 128px;
}

.icon-person {
  position: absolute;
  left: 16px;
}

.icon-ready {
    position: absolute;
    right: 16px;
}