.nav-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80vh;
  mat-tab-group {
    height: 100%;
    justify-content: center;
    width: 100vw;
    align-items: center;

    mat-icon {
      font-size: 32px;
      color: white;
    }

    img {
      height: 64px;
      width: 64px;
      object-fit: cover;
    }
  }
}
:host ::ng-deep .mat-tab-header {
  background: #82a1a3;
  position: absolute !important;
  bottom: 8px !important;
  z-index: 999;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #ffffff;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(188 17 12);
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ffffff;
}

:host ::ng-deep .mat-tab-body-content {
  min-height: 40vh !important;
  max-height: 72vh !important;
  height: auto;

  @media only screen and (max-height: 400px) {
    max-height: 40vh !important;
  }
  @media only screen and (max-height: 600px) {
  }
}

h2 {
  color: white;
  font-size: 1.8rem;
  font-family: "Irish Grover", cursive !important;
}

.group-container {
  width: 64vw;
  height: 100%;
  display: flex;
  overflow-y: auto;
  align-items: flex-start;
  flex-direction: column;
  height: 50vh;
}

.user-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  position: relative;
  margin-top: 16px;
  cursor: pointer;
  background-color: rgb(255 255 255);
  justify-content: flex-start;
  padding: 8px;
  height: 3vh;
  height: auto;

  &:hover {
    opacity: 0.7;
  }

  mat-icon {
    font-size: 24px !important;
    color: black !important;
  }

  h3 {
    margin: 0;
    color: #82a1a3;
    font-size: 1.2rem;
    font-family: fantasy;
    word-break: break-word;
  }
}

.gift-container {
  align-items: center !important;
  img {
    margin-top: 32px;
    height: 256px !important;
    width: 200px !important;
    object-fit: cover;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

mat-slide-toggle {
  color: white;
  font-size: 1.2em;
}

.icon-person {
  margin-right: 16px;
}

.icon-ready {
  position: absolute;
  right: 16px;
}

.btn-start {
  margin-top: 32px;
  width: 100%;
  background-color: #e1902b;
}

.trash-icon {
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}

.yourWishList-headline {
  align-items: center;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    width: 50%;
  }
  img {
    height: 80px !important;
    width: 80px !important;
    object-fit: cover;
  }

  h2 {
    margin: 0 !important;
  }

  button {
    background: #629b3b;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 0.8;
    }

    mat-icon {
      font-size: 2em !important;
    }
  }
}

.ready-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0000006e;
  width: 100%;
  border-radius: 16px;
  padding: 8px;
  width: auto;
  margin-top: 64px;

  div {
    display: flex;
    align-items: center;

    img {
      height: 64px !important;
      width: 64px !important;
      object-fit: cover;
      margin-top: 0 !important;
      margin-right: 16px !important;
    }
  }
}

.overflow-settings {
  @media only screen and (max-height: 420px) {
    height: 24vh;
  }
}

.mg-left-16px {
  margin-left: 16px;
}

mat-spinner {
  margin-top: 64px;
}

.open-text {
  color: black;
  background: #e1902b;
  border-radius: 8px;
  padding: 8px;
}
