.nav-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80vh;
  mat-tab-group {
    height: 100%;
    justify-content: center;
    width: 100vw;
    align-items: center;

    mat-icon {
      font-size: 32px;
      color: white;
    }

    img {
      height: 40px;
      width: 40px;
      object-fit: contain;
    }
  }
}
:host ::ng-deep .mat-tab-header {
  background: #7b7b7b9e;
  position: absolute !important;
  bottom: 8px !important;
  z-index: 999;
}

:host ::ng-deep .mat-tab-body-content {
  min-height: 40vh !important;
  max-height: 72vh !important;
  height: auto;

  @media only screen and (max-height: 400px) {
    max-height: 40vh !important;
    overflow-y: auto !important;
  }
  @media only screen and (max-height: 600px) {
    overflow-y: auto !important;
  }
}

h2 {
  color: white;
  font-size: 1.8rem;
  font-family: "Irish Grover", cursive !important;
}

.group-container {
  width: 64vw;
  height: 100%;
  display: flex;
  overflow-y: auto;
  align-items: flex-start;
  flex-direction: column;
}

.user-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  position: relative;
  margin-top: 16px;
  cursor: pointer;
  background-color: rgb(255 255 255);
  justify-content: flex-start;
  padding: 8px;
  height: 3vh;

  &:hover {
    opacity: 0.4;
  }

  mat-icon {
    font-size: 24px !important;
    color: black !important;
  }

  h3 {
    margin: 0;
    color: #82a1a3;
    font-size: 1.2rem;
    font-family: fantasy;
  }
}

.gift-container {
  img {
    margin-top: 32px;
    height: 180px !important;
    width: 180px !important;
    object-fit: cover;
    cursor: pointer;

    &:hover {
      opacity: 0.4;
    }
  }
}

mat-slide-toggle {
  color: black;
  font-size: 1rem;
  margin-top: 128px;
}

.icon-person {
  margin-right: 16px;
}

.icon-ready {
  position: absolute;
  right: 16px;
}

.profile-section {
  margin-bottom: 48px;
  height: 50vh;
  button {
    position: absolute;
    bottom: 8px;
    right: 0px;

    mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.wish-container {
  background: #70a240;
  width: 64vw;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  position: relative;
  word-break: break-word;

  h4 {
    margin: 0;
    color: white;
    max-width: 40vw;
  }

  img {
    height: 32px !important;
    width: 32px !important;
    object-fit: cover;
    position: absolute;
    left: 16px;
  }

  mat-icon {
    font-size: 24px !important;
    position: absolute;
    right: 16px;
  }
}

.wishList-img {
  height: 100% !important;
  width: 100% !important;
  margin-top: 32px;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 32px;
  position: absolute;
}

.userTitle {
  position: relative;
  display: flex;
  justify-content: center;
  background: #a12221;
  border-radius: 8px;
  width: 100%;
  margin-top: 10vh;

  h3 {
    margin: 0;
    color: white;
  }
}

.btn-start {
  margin-top: 32px;
  width: 50vw;
}

.createWish-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }

  mat-icon {
    font-size: 2em !important;
  }
}

.trash-icon {
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}
