/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: right;
}

mat-card {
  width: 50vw !important;
  background: #de5b5b !important;
  color: white !important;
  z-index: 2000 !important;

}

mat-error {
  color: white !important;
}
mat-form-field {
  color: white;
}

h1 {
  font-family: "Irish Grover", cursive !important;
  font-size: 40px !important;
  color: white;
  margin: 16px 0 0 16px !important;
}

input {
  color: black !important;
}

.mat-form-field-label {
  color: white !important;
}
.mat-form-field-underline {
  background-color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

mat-dialog-container {
  background: #de5b5be3 !important;
  color: white !important;
}
