<h2 mat-dialog-title>Edit Wish</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Enter your Wish </mat-label>
    <input [(ngModel)]="Userwish.currentWish" matInput #wish />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button [disabled]="loadImg" mat-button mat-dialog-close>Close</button>
  <button
    [disabled]="loadImg"
    *ngIf="wish.value"
    (click)="saveWish(wish.value)"
    mat-button
  >
    Save
  </button>

  <button class="delete-btn" (click)="deleteWish()" [disabled]="loadImg" mat-button >Delete</button>
</div>

<div class="loadImg-container">
  <img *ngIf="loadImg"  src="assets/icons/50-Christmas-Icons-45.png" />
</div>
